
  .date-placeholder {
    color: #aaa;
  }

  .date-placeholder::-webkit-calendar-picker-indicator {
    filter: invert(1); /* Makes the calendar icon white */
  }

  /* Focused input customizations */
  .date-input-focused {
    color: white;
    background-color: transparent;
  }
  
  